*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'Times New Roman', Times, serif;
    font-weight: bold;  
    scroll-behavior: smooth;
}   

body {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
}

header {
    background-image:url(snow-white-background-surface-wallpaper-preview.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    height: 100vh;
}

.navbar {
    width: 90%;
    margin-inline: auto;
}

nav.black ul {
    background: 000;
}

.container {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 0px;
}

.menu { 
    display: flex;
    gap: 2.5rem;
    list-style-type: none;
    justify-content: center;
}

.menu>li>a {
    align-content: center;
    color: black;
    text-decoration: none;
    color: #04182e;
    font-size: 16px;
    justify-content: left;
    font-family: 'poppins';
}

.menu>li>a:hover {
    color: #eab676;
    transition: all 300ms ease-in-out;
    border-bottom: 1px solid #eab676;
    font-size: 20px;
}

.logo>img {
    width: 40px;
    display: flex;
    margin-left: 45px;
    margin-top: 5px;
    position: relative;
    float: left;
}

.comm {
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    border: none;
    background-color: #0d325a;
    color: white;
    transition: all 300ms ease;
    margin-left: 350px;
}

.comm:hover {
    color: 
    #eab676;

}

.char {
    position: relative;
    left: 660px;
    bottom: 80px;
    --animate-duration: 1.5s;
}

.char>img {
    width: 700px;
}

.text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    --animate-delay: 0.9s;
}

.arrow {
    position: relative;
    bottom: 500px;
    left: 180px;
    width: 340px;
    height: 65px;
    font-size: 50px;
    --animate-delay: 0.5s;
    animation:normal
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

button.profile {
    background-color: #0d325a;
    position: relative;
    bottom: 430;
    left: 95;
    width: 340px;
    height: 65px;
    color: white;
    border-radius: 15px;
    --animate-delay: 2;
    font-size: 35px;
    border: solid 3px white;
    --animate-delay: 0.7s;
}

button.profile:hover {
    border-radius: 30px;
    border: solid 3px #eab676;
}

button>a {
    text-decoration: none;
    color: white;
}

button>a:hover {
    color: #eab676;
    font-size: 37px;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-between;
}

.container2:nth-child(1) {
    padding-right: 30px;
}

.container2 {
    margin-left: 90px;
    margin-bottom: 1400px;
}

.v2 {
   background-image: url(wood-panel-5728430_1280.jpg);
   height: 220vh;
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    transition: 0.2 ease-out;
}

.back-to-top span {
    color:#04182e;
    font-size: 1.5rem;
    transition: 0.2 ease-out;
}

.back-to-top:hover {
    background-color: rgb(155, 153, 153);
}

.back-to-top:hover span {
    transform: translateY(-4px);
}

.judul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skill {
    position: relative;
    top: 50px;
    color:#04182e;
    font-family: "poppins";
    font-size: 60px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke: 0.000px white;
}

.judulsec {
    position: relative;
    color:#0d325a;
    font-size: 60px;
    top: 175px;
    left: 500px;
    font-family: "PT Sans";
}

.gfx {
    position: relative;
}

.alya {
    position: relative;
    top: 200px;
    left: 40px;
}

.alya .face {
    position: absolute;
    width: 400px;
    height: 500px;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
}

.alya .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.alya .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.alya .back h1 {
    color:#0d325a;
    text-align: center;
    font-size: 35px;
    font-weight: 30px;
    font-family: "Baskervville";
    margin-top: 1rem;
}

.alya .back {
    transform: perspective(600px) rotateY(180deg);
    background: white;
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px black;
}

.alya .back p {
    color: black;
    text-align: center;
    font-size: 25px;
    margin-top: 1rem;
}

.alya:hover .front {
    transform: perspective(600px) rotateY(180deg)
}

.alya:hover .back {
    transform: perspective(600px) rotateY(360deg)
}


.rimuru {
    position: relative;
    left: 910px;
    top: 200px;
}

.rimuru .face {
    position: absolute;
    width: 400px;
    height: 500px;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
}

.rimuru .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.rimuru .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rimuru .back h1 {
    color:#0d325a;
    text-align: center;
    font-size: 35px;
    font-weight: 30px;
    font-family: "Baskervville";
    margin-top: 1rem;
}

.rimuru .back {
    transform: perspective(600px) rotateY(180deg);
    background: white;
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px black;
}

.rimuru .back p {
    color: black;
    text-align: center;
    font-size: 25px;
    margin-top: 1rem;
}

.rimuru:hover .front {
    transform: perspective(600px) rotateY(180deg)
}

.rimuru:hover .back {
    transform: perspective(600px) rotateY(360deg)
}


.saegusa {
    position: relative;
    left: 475px;
    top: 200px;
}

.saegusa .face {
    position: absolute;
    width: 400px;
    height: 500px;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
}

.saegusa .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.saegusa .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.saegusa .back h1 {
    color:#0d325a;
    text-align: center;
    font-size: 35px;
    font-weight: 30px;
    font-family: "Baskervville";
    margin-top: 1rem;
}

.saegusa .back {
    transform: perspective(600px) rotateY(180deg);
    background: white;
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px black;
}

.saegusa .back p {
    color: black;
    text-align: center;
    font-size: 25px;
    margin-top: 1rem;
}

.saegusa:hover .front {
    transform: perspective(600px) rotateY(180deg)
}

.saegusa:hover .back {
    transform: perspective(600px) rotateY(360deg)
}

.gura {
    position: relative;
    left: 40px;
    top: 750px;
}

.gura .face {
    position: absolute;
    width: 400px;
    height: 500px;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
}

.gura .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.gura .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gura .back h1 {
    color:#0d325a;
    text-align: center;
    font-size: 35px;
    font-weight: 30px;
    font-family: "Baskervville";
    margin-top: 1rem;
}

.gura .back {
    transform: perspective(600px) rotateY(180deg);
    background: white;
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px black;
}

.gura .back p {
    color: black;
    text-align: center;
    font-size: 25px;
    margin-top: 1rem;
}

.gura:hover .front {
    transform: perspective(600px) rotateY(180deg)
}

.gura:hover .back {
    transform: perspective(600px) rotateY(360deg)
}

.own {
    position: relative;
    left: 475px;
    top: 750px;
}

.own .face {
    position: absolute;
    width: 400px;
    height: 400px;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
}

.own.front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.own .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.own .back h1 {
    color:#0d325a;
    text-align: center;
    font-size: 35px;
    font-weight: 30px;
    font-family: "Baskervville";
    margin-top: 1rem;
}

.own .back {
    transform: perspective(600px) rotateY(180deg);
    background: white;
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px black;
}

.own .back p {
    color: black;
    text-align: center;
    font-size: 25px;
    margin-top: 1rem;
}

.own:hover .front {
    transform: perspective(600px) rotateY(180deg)
}

.own:hover .back {
    transform: perspective(600px) rotateY(360deg)
}

.mahiru {
    position: relative;
    left: 910px;
    top: 750px;
}

.mahiru .face {
    position: absolute;
    width: 400px;
    height: 500px;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
}

.mahiru .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.mahiru .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mahiru .back h1 {
    color:#0d325a;
    text-align: center;
    font-size: 35px;
    font-weight: 30px;
    font-family: "Baskervville";
    margin-top: 1rem;
}

.mahiru .back {
    transform: perspective(600px) rotateY(180deg);
    background: white;
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px black;
}

.mahiru .back p {
    color: black;
    text-align: center;
    font-size: 25px;
    margin-top: 1rem;
}

.mahiru:hover .front {
    transform: perspective(600px) rotateY(180deg)
}

.mahiru:hover .back {
    transform: perspective(600px) rotateY(360deg)
}

.v3 {
    background-image: url(wood-panel-5728430_1280.jpg);
   height: 220vh;
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.judulv3 h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 100px;
    font-size: 50px;
    color: #0d325a;
}

.mg1 video {
   max-width: 400px;
   border: solid 5px white;
   position: relative;
   left: 30px;
   top: 40px;
}
.mg2 video {
    max-width: 700px;
    position: relative;
    left: 480px;
    bottom: 357px;
    border: solid 5px white;
}

.mg3 video {
    max-width: 600px;
    position: relative;
    border: solid 5px white;
    left: 40px;
    bottom: 20rem;
}

.mg4 video {
    max-width: 600px;
    position: relative;
    border: solid 5px white;
    left: 44rem;
    bottom: 660px;
}

.mg5 video {
    max-width: 600px;
    position: relative;
    border: solid 5px white;
    left: 23rem;
    bottom: 620px;
}

.v4 {
    background-image: url(wood-panel-5728430_1280.jpg);
   height: 140vh;
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mainsecv4 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: #0d325a;
}

.amv1 video {
   max-width: 600px; 
   position: relative;
   top:1rem;
   border: solid 5px white;
   left: 2rem;
}

.amv2 video {
    max-width: 600px; 
   position: relative;
   bottom: 20.4rem;
   border: solid 5px white;
   left: 45rem;
}

.amv3 video {
    max-width: 600px; 
   position: relative;
   bottom: 17rem;
   border: solid 5px white;
   left: 25rem;
}

.v5 {
    background-image: url(wood-panel-5728430_1280.jpg);
   height: 140vh;
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section .v5 {
    height: 140vh;
}

.mainsecv5 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: #0d325a;
}

.cinema1 video {
    max-width: 600px; 
    position: relative;
    top:1rem;
    border: solid 5px white;
    left: 7rem;
}

.cinema2 img {
    max-width: 600px; 
    position: relative;
    top:2rem;
    border: solid 5px white;
    left: 7rem;
}

.cinema3 img {
    max-width: 400px; 
    position: relative;
   bottom: 42rem;
   border: solid 5px white;
   left: 52rem;
}

.v6 {
    background-color: #04182e;
    height: 650vh;    
}

.judulv6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.judulv6 h1 {
    color: white;
    font-size: 40px;
}

.judulv6 p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(182, 178, 178);
    font-size: 25;
}

section.containerv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section.vv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section.secv1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section.secv2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section.secv3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section.secv4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section.secv5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section.secv6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section.secv7 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containerv .cardv {
    position: relative;
    max-width: 600px;
    height: 195px;
    background-color: white;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction:column;
    transition: 0.3s ease-in-out;
    border: 3px solid gray;
}

.containerv .cardv:hover {
    height: 350px;
}

.containerv .cardv .imagev {
    position: relative;
    width: 560px;
    height: 560px;
    left: 1px;
    top: -60px;
    z-index: 1;
}

.containerv .cardv .imagevv {
    position: relative;
    width: 560px;
    height: 560px;
    left: 120px;
    top: -100px;
    z-index: 1;
}

.containerv .cardv .imagev img {
    max-width: 100%;
}   

.containerv .cardv .imagevv img {
    width: 300px;
}

.containerv .cardv .contentv {
    position: relative;
    text-align: center;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    font-size: 20px;
}

.contentv .contentvv {
    position: relative;
    bottom: 38px;
}

.contentv .contentvvv {
    position: relative;
    bottom: 40px;
}

.containerv .cardv:hover .contentv {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.secv1 {
    position: relative;
    bottom: 15rem;
}

.secv2 {
    position: relative;
    bottom: 25rem;
}

.secv3 {
    position: relative;
    bottom: 35rem;
}

.secv4 {
    position: relative;
    bottom: 45rem;
}

.secv5 {
    position: relative;
    bottom: 55rem;
}

.secv6 {
    position: relative;
    bottom: 65rem;
}

.secv7 {
    position: relative;
    bottom: 75rem;
}

.containerv .cardv .imagecanva {
    position: relative;
    width: 560px;
    height: 560px;
    left: 26px;
    top: -180px;
    z-index: 1;
}

.contentv .contentcc {
    position: relative;
    bottom: 110px;
}

.contentv .contentccc{
    position: relative;
    bottom: 112px;
    font-weight: 20px;
    font-size: 30px;
}

.v7 {
    background-color: #0d325a;
    height: 13vh;
}

.v7judul h1 {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}






